body{

    margin: 0% 0%;
}
.Cabeçalho{


background-color: burlywood;
margin: 0vw 0vw;




}

.Camada1{

    height: 10.0vw;
    background-color:burlywood;
    text-align: center;
    line-height: 10.0vw;
   
    
    
}

.inputzada{

   
    vertical-align: middle;


}

#cornoCabeçalho{

    height: 3vw;
    width: 25vw;
    padding-left: 2.5vw ;
    
}

.Camada2{

    border-top: solid black;
    border-bottom: solid black;
    height: 6vw;
    text-align: center;
    line-height: 6vw;
    
       
    
}

.Options1{

    
    vertical-align: middle;
    font-size: 1.2rem;
    
    

}

.Options2{

    margin-left: 5vw;
    vertical-align: middle;
    font-size: 1.2rem;
     
}

.Options3{
    height: 4vw;
    margin-left: 5vw;
    vertical-align: middle;
    font-size: 1.2rem;
}

.Options4{

    margin-left: 5vw ;    
    margin-bottom: 4.7;
    vertical-align: middle;
    font-size: 1.2rem;
}

.content{

    text-align: center;
    height: 1400px;
    background-color: rgb(161, 161, 158);
    
    
}
.Conteúdo{



height: 129px;
display: inline-block;
vertical-align: middle;
background-color: white;
margin-top: 5vh;
border: solid orange;


}

.Beneficio1{

    
    border-right: solid;
    float: left;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    height:110px;
    vertical-align: middle;
    padding-top: 3vh;
    




}

.Beneficio2{


   margin-left: 3vw ;
    
    vertical-align: middle;
   float: left;
    margin-top: 3vh;
    


}

.Beneficio3{


    
    margin-left: 3vw ;

    vertical-align: middle;
    float: left;
    margin-top: 3vh;



 



}
.Beneficio4{

    
    vertical-align: middle;
    float: left;
    margin-top: 3vh;
    margin-left: 3vw ;
    margin-right: 1.5vw;


}

.subtittle{

        margin: 0vh 0vw;
        padding: 0vh 0vw;

}
  
.Título{

margin:0vh 0vw;
padding: 0vh 0vw;
height: 5vw;


}

 .Options1:hover{

    transition-duration: 0.6s;
    padding: 4vh 4vw;
    background-color: brown;
    transition-property: padding;
 }

 .Options2:hover{

    transition-duration: 0.6s;
    padding:4vh 4vw;
    background-color: brown;
    transition-property:padding;

 }

 .Options4:hover{

    transition-duration: 0.6s;
    background-color: brown;
    padding:4vh 4vw;
    transition-property: padding;
 }

 .Options3:hover{

    transition-duration:0.6s;
    padding:4vh 4vw;
    background-color: brown;
    transition-property: padding;
 }

 .Produtos{

    margin-top: 11vh;
    height: 120px;
    width: 90%;
    background-color: white;
    display: inline-block;
    border: solid orange;
    text-align: center;
    
    

 }

.Produto{

height: 120px;
width: 22.5%;
display: inline-block;
overflow: hidden;
border-left: solid orange;
text-align: center;



 }

 .Produto1{

height: 120px;
width: 22.5%;
display: inline-block;
overflow: hidden;


 }

 .Produto4{

    height: 120px;
    width: 22.5%;
    display: inline-block;
    overflow: hidden;
    border-left: solid orange;
    


 }

 .Produto:hover{

    transition-duration: 0.6s;
    height: 320px;
    vertical-align: middle;
    
    
   

 }

 .Produto4:hover{

    transition-duration: 0.6s;
    height: 320px;
    vertical-align: middle;
    
    
 }
 .Produto1:hover{

    transition-duration: 0.6s;
    height: 320px;
    vertical-align: middle;
    
    
 }


 

 

 