body{

    margin: 0px;
}
.Formulario{


    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
   
    
}


.Forms{

display: inline-block;
height: 60vh;
width:40vw;
border-radius: 2vh;
border:solid black;
margin-top: 15vh;
text-align: center;






}

.Forms:hover{

    transition-duration: 0.6s;
    padding:1%;
    border-color: darkviolet;

}
.Título{

    margin-top: 27px;
    margin-bottom: 20px;
}
.InfLoja{

margin-bottom: 6vh;
margin-left: 2vw;
margin-right: 2vw;

    
}



.caixa1{

    margin-bottom: 2vh;
}

.caixa2{

    margin-bottom: 2vh;

}


.Botao{

    margin-top: 3vh;
}


input[type= "submit"]{

    margin-top: 4vh;
    height: 30px;
    width: 70px;
    border-radius: 2vh;


}

input[type= "submit"]:hover{

    transition-duration: 0.5s;
    height: 35px;
    width: 75px;
    background-color:darkviolet;
}


@media screen and (min-width:850px){

.Forms{

width: 95% ;
background-color:aqua


}
.InfLoja{

    width: 800px;
    margin-left: 1vw;
    margin-right: 1vw;
    display: inline-block;
}
.caixa1{

display: inline-block;

}

.caixa3{

    display: inline-block;
    
    }

    .caixa2{

        display: inline-block;

        
        }

        .DiasDeFuncionamento{

            width: 350px;
            display: inline-block;
        }

.check{


display: inline-block;
}
        
.check2{

    display: inline-block;
}

.check3{

    display: inline-block;
}

.check4{
    display: inline-block
}
.check5{


    display: inline-block;
    }
            
    .check6{
    
        display: inline-block;
    }
    
    .check7{
        display: inline-block
    }

}