body{

    margin: 0px;
}
.Formulario{


    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
   
    
}


.Forms{

display: inline-block;
height: 60vh;
width:40vw;
border-radius: 2vh;
border:solid black;
margin-top: 15vh;
text-align: center;






}

.Forms:hover{

    transition-duration: 0.6s;
    padding:1%;

}
.Título{

    margin-top: 27px;
    margin-bottom: 20px;
}
.InfLoja{

margin-bottom: 6vh;
margin-left: 2vw;
margin-right: 2vw;

    
}



.caixa1{

    margin-bottom: 2vh;
}

.caixa2{

    margin-bottom: 2vh;

}


.Botao{

    margin-top: 3vh;
}


input[type= "submit"]{

    margin-top: 4vh;
    height: 30px;
    width: 70px;
    border-radius: 2vh;


}

input[type= "submit"]:hover{

    transition-duration: 0.5s;
    height: 35px;
    width: 75px;
    background-color:darkgray;
}


